*.log
.DS_Store
.env
.env.backup
.env.production
.env.docker
.env.docker.local
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
!vendor/tecnickcom/tcpdf/fonts/arial.z
!vendor/tecnickcom/tcpdf/fonts/arial.php
!vendor/tecnickcom/tcpdf/fonts/arial.ctg.z
Homestead.json
Homestead.yaml
Thumbs.db
